body {
  font-family: 'Arial', sans-serif;
  font-size: 25px;
  background-color: black;
  background: url("../images/");
 background-size: stretch;
 color: white;
}

form {
  font-family: 'Knewave', sans-serif;
  font-size: 25px;
}

img {
  max-width: 100%;
  border-radius: 8%;
}
#img-grid{
  max-width: 100%;
  border-radius: 8%;
}
.navbar-header {
  font-family: 'Gravitas One';
  display: inline-block;
    padding: .3125rem;
    margin-right: 1rem;
    font-size: 1.9rem;
    line-height: inherit;
    letter-spacing: 1px;
    white-space: nowrap;
    color: white;
}

.content {
  margin-top: 4rem;
  font-family: 'Arial', sans-serif;
  font-size: 23px;

}

li {
  width: 33%;
  text-align: center;
}

.social {
  margin-top: 40px;
}

.links {
font-family: 'Knewave';
}

.p-links {
  font-size: 27px;
font-family: 'Knewave';
}

.body-header {
  font-family: 'Gravitas One';
    padding: .3125rem;
    font-size: 1.6rem;
    white-space: nowrap;
    text-align: center;
    border-bottom: solid 2px black;
}

.foot {
  border-bottom: solid 2px black
}
.mega-content {
  margin-top: 8rem;
}
